html {
    --button-shadow-color: hsla(0, 0%, 0%, 0.6);

    --focus-border: rgba(0 0 0 0) !important;
    --focus-shadow: rgba(0 0 0 0) !important;
}

html:not(.night-mode) {
    --navbar-bg-color: hsl(0, 0%, 93%);
    --navbar-shadow-opacity: 0.2;

    --btn-shadow: 0px 0.8px 2px -1px var(--button-shadow-color);
    --btn-border: none;
    --btn-corner: 5px;
    --editor-btn-height: 21px;
    --btn-bg-color: hsl(0, 0%, 100%);

    --border-color: hsl(0, 0%, 85%);
    --border-sep-btns-from-fields: 1px solid var(--border-color);

    --field-border-color: var(--border-color);
    --btn-click-color: hsl(211, 100%, 54%);

    --code-bg-color: hsl(24, 20%, 95%);
}
html.night-mode {
    --navbar-bg-color: hsl(240, 2%, 19%); /*hsl(240, 2%, 19%)*/
    --navbar-shadow-opacity: 0.4;

    --btn-shadow: inset 0px 0px 0px 1px hsl(0, 0%, 39%); /*  */
    --btn-border: 1px solid hsl(240, 1%, 14%);
    --btn-corner: 3px;
    --editor-btn-height: 23px;
    --btn-bg-color: hsl(0, 0%, 34%);

    --border-color: hsl(0, 0%, 39%);
    --border-sep-btns-from-fields: 1px solid var(--border-color);

    --btn-click-color: hsl(0, 0%, 29%);

    --code-bg-color: hsl(0, 0%, 16%);
}


button, button.icon-button, button.label-button {
    box-shadow: var(--btn-shadow) !important;
    border: var(--btn-border) !important;
}
button {
    height: 17px;
}

/* :focus {
    outline: none !important;
} */

button:active {
    color: white;
    background: var(--btn-click-color) !important;
}
