
/*       top buttons       */

button { /* "Fields" and "Cards" buttons */
    --border-left-radius: var(--btn-corner);
    --border-right-radius: var(--btn-corner);
}
div.btn-group svg {
    --icon-size: 58% !important;
}

button.icon-button, button.label-button {
    /* font-size: 0.75rem !important; */

    /* --icon-size: 58% !important; */

    background: var(--btn-bg-color);
    height: var(--editor-btn-height) !important; /* was 24px */
    margin-left: 0px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding: 0px !important;
}
svg.icn-dmns {
    top: calc(((100% - var(--icon-size)) / 2) - 1%) !important;
    bottom: calc(((100% - var(--icon-size)) / 2) + 1%) !important;
}
button.label-button {/* <-- THIS MUST BE LOWER THAN button.icon-button, button.label-button FOR LABEL BUTTON PADDING */
    font-size: 12px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

button.tag {
    height: 25px !important;
}

/* NEW: div.popover-wrapper > div.popover > button.dropdown-item */
div.popover {
    padding-top: 8px !important;
    box-shadow: var(--btn-shadow) !important;
}
button.dropdown-item {
    /* padding-top: 2px !important; */
    height: 25px !important;

}
button.dropdown-item > span {
    margin-top: -2px !important;
}

nav {
    border-bottom: var(--border-sep-btns-from-fields) !important;
}


/*       FIELD       */

div.editor-field {
    /* remove line around edit fields */
    /* border: none !important; */
    box-shadow: none !important;
}
span.collapse-label {
    font-size: 13px;
}

div.editor-field > div.editing-area {
    /* border: 0.5px solid hsl(0, 0%, 88%);
    border-radius: 3px; */

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: inset 0px 1px 6px -2px rgba(0, 0, 0, 0.2); */
}
